# * ==== DATABASE ====
# * There's two ways of set-up the database: internal and external. Choose ONLY one.
# ? Internal: the docker compose construct and defined the DATABASE_URL
# ?     automatically by the env vars below. Uncomment if you want to
# ?     override the defaults.

# POSTGRES_USER=olim
# POSTGRES_PASSWORD=a-very-strong-pwd
# POSTGRES_DB=olim
# # Define the following var when you want to expose the postgres outside docker
# # internal host.
# POSTGRES_EXPOSE_PORT=

# ? External: a external database is set-up and has provided a URL, just define
# ?     it below.
# DATABASE_URL=postgresql+psycopg://olim:a-very-strong-pwd@localhost:5432/olim
