<!DOCTYPE html>
<html>

<head>
    <!-- Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Import materialize.css -->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}" />
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" />

    <!-- Let browser know website is optimized for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    {% block head%}{% endblock %}

    <title>{% block title %}{% endblock %} - {{ _('OLIM - Open Labeller for Iterative Machine learning')}}</title>
</head>

<body>
    <header>
        {% block menu %}
        <ul id="slide-out" class="sidenav">
            {% if has_permition('redirect_to_project') %}
            <ul id="projects-dropdown-2" class="dropdown-content" style="margin-top: 40px;">
                {% for project in projects %}
                <li><a href="/{{ project.id }}">{{ project.name }}</a></li>
                {% endfor %}
            </ul>
            <li>
                <a class="dropdown-trigger" href="#" data-target="projects-dropdown-2">
                    <i class="material-icons">arrow_drop_down</i> {{project_name}}
                </a>
            </li>
            <li style="padding: 10px 20px;">
                <h5>{{_('Project: {project_name}'.format(project_name=project_name))}}</h5>
            </li>
            {% if has_permition('labels') %}
            <li><a href="{{ url_for('labels', project_id = project_id) }}">{{ _('Labels') }}</a></li>
            {% endif %}
            {% if has_permition('search') %}
            <li><a href="{{ url_for('search', project_id = project_id) }}">{{ _('Search') }}</a></li>
            {% endif %}
            <!-- {% if has_permition('entry') %}
            <li><a href="{{ url_for('entry', project_id = project_id) }}">{{ _('Open Entries') }}</a></li>
            {% endif %} -->
            {% if has_permition('queue') %}
            <li><a href="{{ url_for('queue', project_id = project_id) }}">{{ _('Queues') }}</a></li>
            {% endif %}
            {% if have_hidden() and has_permition('hidden') %}
            <li><a href="{{ url_for('hidden', project_id = project_id) }}">{{ _('Hidden texts') }}</a></li>
            {% endif %}
            {% endif %}
            <li style="padding: 10px 20px;">
                <h5>{{_('Settings')}}</h5>
            </li>
            {% if has_permition('users') %}
            <li><a href="{{ url_for('users') }}">{{ _('Users') }}</a></li>
            {% endif %}
            {% if has_permition('user_settings') %}
            <li><a href="{{ url_for('user_settings') }}">{{ _('account_settings_1') }}</a></li>
            {% endif %}
            {% if has_permition('projects') %}
            <li><a href="{{ url_for('projects') }}">{{_("Manage Projects")}}</a></li>
            {% endif %}
            {% if has_permition('upload_data') %}
            <li><a href="{{ url_for('upload_data') }}">{{_("Upload Data")}}</a></li>
            {% endif %}
            {% if session['user_id'] == 'guest' %}
            <li><a href="{{ url_for('login') }}">{{ _('Login') }}</a></li>
            {% else %}
            <li><a href="{{ url_for('logout') }}">{{ _('Logout') }}</a></li>
            {% endif %}
            <li style="padding: 10px 20px;">
                <h5>{{_('Tasks')}}</h5>
            </li>
            <li id="task-list">
                {% include "task-list.html"%}
            </li>
        </ul>
        {% endblock %}
        <nav>
            <div class="nav-wrapper cyan darken-4">
                <div class="center">
                    <span class="brand-logo tooltipped" style="margin: 0 -40px;"
                        data-tooltip="{{ _('Open Labeller for Iterative Machine learning') }}">
                        OLIM
                    </span>
                </div>
                {% block menuicon %}
                {% if has_permition('redirect_to_project') %}
                <div class="nav-mobile left">
                    <span data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></span>
                </div>
                <ul id="projects-dropdown" class="dropdown-content" style="margin-top: 40px;">
                    {% for project in projects %}
                    <li><a href="/{{ project.id }}">{{ project.name }}</a></li>
                    {% endfor %}
                </ul>
                <div class="left hide-on-med-and-down">
                    <a class="btn waves-effect waves-light teal darken-2 dropdown-trigger"
                        data-target="projects-dropdown">
                        <i class="material-icons left" style="margin: -15px 0 0 -10px;">arrow_drop_down</i>
                        {{project_name}}
                    </a>
                </div>
                {% endif %}
                {% endblock %}
            </div>
        </nav>
    </header>
    <div id="warning" class="modal">
        <div class="modal-content">
            <h4 id="warning-title"><i class="material-icons red-text text-darken-2">warning</i> {{
                _('Warning') }}</h4>
            <p id="warning-text">{{ _('A buch of text') }}</p>
        </div>
        <div class="modal-footer">
            <a class="modal-close red darken-3 btn waves-effect waves-red" id="warning-close">{{ _('Continue') }}</a>
            <a class="modal-close btn waves-effect waves-green">{{ _('Close') }}</a>
        </div>
    </div>
    <div class="container" style="margin-bottom: -30px;">
        <div class="row">
            <!-- Flash message divs -->
            {% with warning_messages = get_flashed_messages(category_filter=["warning"]) %}
            {% if warning_messages %}
            <div class="card orange lighten-5 col s12" id="warning-div">
                <div class="card-content">
                    <span class="right msg_close">
                        <a class='btn-flat tooltipped' data-position="bottom" data-tooltip="{{ _('Close') }}"
                            onclick="$('#warning-div').hide();">
                            <i class="material-icons grey-text text-darken-4">clear</i>
                        </a>
                    </span>
                    <!-- <span class="card-title orange-text">{{ _('Warning') }}</span> -->
                    {% for message in warning_messages %}
                    <p class="orange-text">{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endwith %}

            {% with success_messages = get_flashed_messages(category_filter=["success"]) %}
            {% if success_messages %}
            <div class="card green lighten-5 col s12" id="success-div">
                <div class="card-content">
                    <span class="right msg_close">
                        <a class='btn-flat tooltipped' data-position="bottom" data-tooltip="{{ _('Close') }}"
                            onclick="$('#success-div').hide();">
                            <i class="material-icons grey-text text-darken-4">clear</i>
                        </a>
                    </span>
                    <!-- <span class="card-title green-text">{{ _('Success') }}</span> -->
                    {% for message in success_messages %}
                    <p class="green-text">{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endwith %}

            {% with error_messages = get_flashed_messages(category_filter=["error"]) %}
            {% if error_messages %}
            <div class="card red lighten-5 col s12" id="error-div">
                <div class="card-content">
                    <span class="right msg_close">
                        <a class='btn-flat tooltipped' data-position="bottom" data-tooltip="{{ _('Close') }}"
                            onclick="$('#error-div').hide();">
                            <i class="material-icons grey-text text-darken-4">clear</i>
                        </a>
                    </span>
                    <!-- <span class="card-title red-text">{{ _('Error') }}</span> -->
                    {% for message in error_messages %}
                    <p class="red-text">{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <main>
        <div class="container" style="margin-top: 20px;">
            {% block content %}{{content}}{% endblock %}
        </div>
    </main>
    <footer class="page-footer cyan darken-3">
        <div class="row">
            <div class="col s12 center">
                <a class="grey-text text-lighten-4" href="https://gitlab.com/nanogennari/olim">
                    {{ _('OLIM - Open Labeller for Iterative Machine learning') }} - v{{ version }}
                </a>
                {% if has_help %}
                <a class="grey-text text-lighten-4 right tooltipped" href="{{ url_for('get_help') }}"
                    data-tooltip="{{_('Report a problem with this page')}}">
                    <i class="material-icons">help</i>
                </a>
                {% endif %}
            </div>
        </div>
    </footer>
    <!-- JavaScript at end of body for optimized loading -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.highlight.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/materialize.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/scripts.js')}}"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            $('.sidenav').sidenav();

            function refreshTaskList() {
                $.get('{{url_for("check_task_status")}}', function (data) {
                    $('#task-list').html(data);
                })
                    .fail(function () {
                        $('#task-list').html('{{_("Error loading tasks")}}');
                    });
            }
            // Optional: Auto-refresh every 30 seconds
            setInterval(refreshTaskList, 10000);
        });
        LABELS = {{ labels_array | safe }}
    </script>
    {% block scripts %}{% endblock %}
</body>

</html>