{% extends "base.html" %}
{% block title %}Edit Password{% endblock %}
{% block content %}
<div class="container">
  <h3>Edit {{ user['name'] }}'s Password</h3>
  <form method="POST" action="{{ url_for('edit_password', user_id=user['id']) }}">
    {% if session.user.role != 'admin' %}
    <div class="row">
      <div class="input-field col s12">
        <input id="old_password" type="password" name="old_password" required>
        <label for="old_password">Old Password</label>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="input-field col s12">
        <input id="new_password" type="password" name="new_password" required>
        <label id="new_password_label" for="new_password">New Password</label>
        <button class="btn waves-effect waves-light" type="button" onclick="generateRandomPassword()">Random
          Password</button>
        <button class="btn waves-effect waves-light" type="button" onclick="viewPassword()"><i
            class="material-icons">remove_red_eye</i></button>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input type="submit" value="Save" class="btn">
      </div>
    </div>
  </form>

  <!-- Flash message divs -->
  {% with warning_messages = get_flashed_messages(category_filter=["warning"]) %}
  {% if warning_messages %}
  <div class="card orange lighten-5">
    <div class="card-content">
      <span class="card-title orange-text">Warning</span>
      {% for message in warning_messages %}
      <p class="orange-text">{{ message }}</p>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endwith %}

  {% with success_messages = get_flashed_messages(category_filter=["success"]) %}
  {% if success_messages %}
  <div class="card green lighten-5">
    <div class="card-content">
      <span class="card-title green-text">Success</span>
      {% for message in success_messages %}
      <p class="green-text">{{ message }}</p>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endwith %}

  {% with error_messages = get_flashed_messages(category_filter=["error"]) %}
  {% if error_messages %}
  <div class="card red lighten-5">
    <div class="card-content">
      <span class="card-title red-text">Error</span>
      {% for message in error_messages %}
      <p class="red-text">{{ message }}</p>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endwith %}
</div>
{% endblock %}

{% block scripts %}
<script>
  function generateRandomPassword() {
    let randomPassword = Math.random().toString(36).slice(-12);
    document.getElementById("new_password").value = randomPassword;
    document.getElementById("new_password_label").classList.add("active");

  }
  function viewPassword() {
    let password_tag = document.getElementById("new_password");
    password_tag.type === 'password' ? password_tag.type = 'text' : password_tag.type = 'password';
  }
</script>
{% endblock %}