{% extends "base.html" %}
{% block title %}{{ _('Hidden Entry') }}{% endblock %}

{% block content %}
<div class="col s12">
    <h4 class="center">{{ _('Hidden Entries') }}</h4>
    <p class="center">{{ _('Texts on this page were marked with "Hide all as this".') }}</p>
</div>
{% if res %}
{% for r in res %}
{% set text_id = r['text_id'] %}
{% set text = r['text'] %}
<div class="col s12 m7" id="text_{{text_id}}">
    <div class="card horizontal">
        <div class="card-content">
            <p>{{ text }}</p>
        </div>
        <div class="card-action">
            <a class="btn-floating btn btn-to-hide btn-flat waves-ligh tooltipped right-align" data-position="bottom"
                data-tooltip="{{ _('Remove from hidden entries') }}" onclick="remove_from_hidden('{{ text_id }}')">
                <i class="material-icons red-text text-darken-4">remove_circle_outline</i>
            </a>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<h4 class="center">{{ _('There is not text marked "Hide all as this"') }}</h4>
{% endif %}
{% endblock %}

{% block more_scripts %}
<script>
</script>
{% endblock %}