<div id="label_{{label.id}}"
    class="input-field col s12 tight-top{% if label.id in hidden_labels %} hidden-entry{% if not show_hidden %} hidden{% endif %}{% endif %}">
    <span>{{label.name}}</span>
    {% if valid_entry %}
    {% if label.id in labels_values %}
    {% set p_label = labels_values[label.id] %}
    {% else %}
    {% set p_label = 'none' %}
    {% endif %}
    <a class="tooltipped right cursor {% if label.id in hidden_labels %} hidden{% endif %}" data-position="bottom"
        data-tooltip="{{ _('Hide the value of this label') }}" onclick="hide_label('{{label.name}}','{{label.id}}');"
        id="hide_{{label.id}}">
        <i class="material-icons grey-text">cancel</i>
    </a>
    <a class="tooltipped right cursor {% if label.id not in hidden_labels %} hidden{% endif %}" data-position="bottom"
        data-tooltip="{{ _('Show the value of this label') }}" onclick="unhide_label('{{label.name}}','{{label.id}}');"
        id="hide_sel_{{label.id}}">
        <i class="material-icons red-text">cancel</i>
    </a>
    {% for label_str, type, icon, color in labels_rev %}
    {% if type == 'text'%}
    <a class="tooltipped right {{color}}-text labels-text-icon cursor{%if p_label != label_str%} hidden{%endif%}"
        data-position="bottom" data-tooltip="{{ _('Uncheck {label_str}').format(label_str=label_str)}}"
        id="{{label_str | replace(' ', '_')}}_sel_{{label.id}}"
        onclick="add_entry_label('{{entry_id}}','{{label.id}}', '');">
        <strong>{{icon}}</strong>
    </a>
    <a class="tooltipped right grey-text labels-text-icon cursor{%if p_label == label_str%} hidden{%endif%}"
        data-position="bottom" data-tooltip="{{ _('Check {label_str}').format(label_str=label_str) }}"
        id="{{label_str | replace(' ', '_')}}_{{label.id}}"
        onclick="add_entry_label({{entry_id}},'{{label.id}}', '{{label_str}}');">
        <strong>{{icon}}</strong>
    </a>
    {% else %}
    <a class="tooltipped right cursor{%if p_label != label_str%} hidden{%endif%}" data-position="bottom"
        data-tooltip="{{ _('Uncheck {label_str}').format(label_str=label_str) }}"
        onclick="add_entry_label({{entry_id}},'{{label.id}}', '');"
        id="{{label_str | replace(' ', '_')}}_sel_{{label.id}}">
        <i class="material-icons {{color}}-text">{{icon}}</i>
    </a>
    <a class="tooltipped right cursor{%if p_label == label_str%} hidden{%endif%}" data-position="bottom"
        data-tooltip="{{ _('Check {label_str}').format(label_str=label_str) }}"
        onclick="add_entry_label({{entry_id}},'{{label.id}}', '{{label_str}}');"
        id="{{label_str | replace(' ', '_')}}_{{label.id}}">
        <i class="material-icons grey-text">{{icon}}</i>
    </a>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>