{% extends "base.html" %}
{% block title %}{{ _('Label Settings') }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h4 class="center-align">{{ _('Label Settings') }} - Label Id: {{ label.id }}</h4>
        </div>
    </div>
    <div class="card hoverable">
        <div class="card-content">
            <span class="card-title">Name: {{ label.name }}</span>
            <div class="row">
                <div class="col s12 m6">
                    <p><strong>{{ _('Creator') }}:</strong> {{ label.creator.name }}</p>
                    <p><strong>{{ _('Username') }}:</strong> {{ label.creator.username }}</p>
                </div>
                <div class="col s12 m6">
                    <p><strong>{{ _('AL Key') }}:</strong> {{ label.al_key if label.al_key else _('Not Set') }}</p>
                    <p><strong>{{ _('Created At') }}:</strong> {{ label.created.strftime('%Y-%m-%d %H:%M:%S') if
                        label.created else '' }}</p>
                </div>
                <div class="col s12">
                    <p><strong>{{ _('Total Labeled Entries') }}:</strong> {{ label.entries|length }}</p>
                </div>
            </div>
        </div>
        <div class="card-action">
            <div class="col s12 tight-bottom">
                <a href="javascript:void(0);"
                    onclick="show_warnning('{{ _('This permanent! Are you sure that you want to delete label {label_name}?').format(label_name=label.name) }}','window.location.href = \'{{url_for('delete_label', label_id=label.id)}}\'');"
                    class="btn-flat waves-effect red-text">
                    <i class="material-icons left">remove_circle_outline</i>
                    {{ _('Remove Label') }}
                </a>
                {%if has_permission('extract_labels')%}
                <a href="{{url_for('extract_labels', label_id=label.id)}}" class="btn-flat waves-effect green-text">
                    <i class="material-icons left">file_download</i>
                    {{ _('Download Labeled Data') }}
                </a>
                {% endif %}
                {%if has_permission('gen_predictions')%}
                <a href="{{url_for('gen_predictions', label_id=label.id)}}" class="btn-flat waves-effect green-text">
                    <i class="material-icons left">autorenew</i>
                    {{ _('Generate Predictions') }}
                </a>
                {% endif %}
                {%if has_permission('catch_queue')%}
                <a href="{{url_for('catch_queue', label_id=label.id)}}" class="btn-flat waves-effect orange-text">
                    <i class="material-icons left">send</i>{{ _('Open Queue') }}
                </a>
                {% endif %}
            </div>
        </div>
    </div>{% if label.metrics %}
    <div class="card hoverable">
        <div class="card-content">
            <span class="card-title">Model metrics</span>
            {% for metric_str in label.metrics %}
            <p>{{metric_str}}</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if export_tasks %}
    <div class="card hoverable">
        <div class="card-content">
            <span class="card-title">Exported predictions</span>
            <table>
                <thead>
                    <tr>
                        <th>Created</th>
                        <th>Status</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in export_tasks %}
                    <tr>
                        <td>{{task.created}}</td>
                        <td>{{task.status}}</td>
                        <td>
                            {% if task.status == "SUCCESS" %}
                            <a class="btn waves-effect waves-light tooltipped"
                                href="{{url_for('get_predictions', label_id=label.id, task_id=task.id)}}"
                                data-tooltip="{{_('Download')}}">
                                <i class="material-icons">file_download</i>
                            </a>
                            {% endif %}
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    <div class="row center-align">
        <a class="btn waves-effect waves-light" href="../..">{{ _('Back') }}</a>
    </div>
    {% if debug %}
    {{label.__dict__}}
    {% endif %}
</div>
{% endblock %}