{% extends "base.html" %}
{% block title %}{{ _('Labels') }}{% endblock %}

{% block content %}
<div class="col s12">
    <h4 class="center">{{ _('Labels') }}</h4>
</div>
<div class="row">
    <form action="/{{ project_id }}/labels/new" method="post">
        <div class="input-field col s11">
            <input id="new_label" type="text" name="label">
            <label for="new_label">{{ _('New Label') }}</label>
        </div>
        <div class="input-field col s1 center">
            <button class="btn waves-effect waves-light btn-narrow">
                <i class="material-icons right">add</i>
            </button>
        </div>
    </form>
    <div class="col card s12 tight-bottom">
        <table>
            <thead>
                <tr>
                    <th>{{ _('Label') }}</th>
                    {%for label in labels_types%}
                    <th style="width:80px;text-align: center;">{{ label[0] }}</th>
                    {%endfor%}
                    <th style="width:80px;text-align: center;">{{ _('Total') }}</th>
                    <th style="width:130px;text-align: center;">{{ _('Creator') }}</th>
                    {%if has_permission('delete_label') or has_permission('extract_labels') or
                    has_permission('catch_queue')%}
                    <th style="width:180px;text-align: center;">{{ _('Actions') }}</th>
                    {%endif%}
                </tr>
            </thead>
            <tbody>
                {% for label in labels %}
                <tr>
                    <td>{{ label.name }}</td>
                    {%for value, x, y, z in labels_types%}
                    <td style="text-align: center;">{%if value in values[label.id]%}{{ values[label.id][value]
                        }}{%else%}0{%endif%}</td>
                    {%endfor%}
                    <td style="text-align: center;">{{ values[label.id]["Total"] }}</td>
                    <td style="text-align: center;">{{ label.creator.name }}</td>
                    {% if has_permission('delete_label') or has_permission('extract_labels') or
                    has_permission('catch_queue') or
                    has_permission('sync_label') %}
                    <td style="text-align: center; width:25%;">
                        {% if has_permission('label_settings') %}
                        <a class="btn waves-effect waves-light tooltipped"
                            href="{{url_for('label_settings', label_id=label.id)}}" data-tooltip="{{_('Settings')}}">
                            <i class="material-icons">settings</i>
                        </a>
                        {% endif %}
                        {% if label.al_key != "setup" %}
                        <a class="btn waves-effect waves-light tooltipped"
                            href="{{ url_for('catch_al', label_id=label.id) }}"
                            data-tooltip="{{ _('Open active learling queue') }}">
                            <i class="material-icons right">send</i>
                            {{ _('Learn') }}
                        </a>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {%if has_permission('label_up')%}
    <div class="col card s12 tight-bottom">
        <div class="card-content row tight-bottom">
            <form action="{{url_for('label_up', project_id=project_id)}}" method="post" enctype="multipart/form-data">
                <div class="col s12">
                    <h5>{{ _('Upload of Labelling File') }}</h5>
                </div>
                <div class="file-field input-field col s12">
                    <div class="btn">
                        <span><i class="material-icons">folder_open</i></span>
                        <input type="file" name="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" name="filename">
                    </div>
                </div>
                <div class="input-field col s12">
                    <select name="dataset_id" required>
                        <option value="" disabled selected>{{ _('Select Dataset') }}</option>
                        {% for dataset in datasets %}
                        <option value="{{ dataset.id }}">{{ dataset.name }}</option>
                        {% endfor %}
                    </select>
                    <label>{{ _('Target Dataset') }}</label>
                </div>
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light btn-wide" type="submit">{{ _('Upload') }}
                        <i class="material-icons right">file_upload</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    {%endif%}
</div>

{% endblock %}

{% block more_scripts %}
<script>
</script>
{% endblock %}