{% extends "base.html" %}
{% block title %}Rótulos{% endblock %}

{% block content %}
<div class="col s12">
    <h4 class="center">Rótulos</h4>
</div>
{% if res %}
<div class="row">
    <div class="input-field col s11">
        <input id="new_label" type="text">
        <label for="new_label">Novo Rótulo</label>
    </div>
    <div class="input-field col s1 center">
        <a class="btn waves-effect waves-light btn-narrow"
            onclick="create_label($('#new_label').val(),'{{patient_id}}',true)">
            <i class="material-icons right">add</i>
        </a>
    </div>
    <div class="col card s12 tight-bottom">
        {% for r in res %}
        {% set label = r['label'] %}
        {% set label_id = r['_id'] %}
        {% if not loop.first %}<div class="divider label_{{label_id}}"></div>{% endif %}
        <div class="card-content label_{{label_id}}">
            <a class="btn-floating btn btn-to-hide btn-flat waves-ligh tooltipped right
                                                                data-positionb bottom" data-tooltip="Remover rótulo"
                onclick="show_warnning('Remover este rótulo não remove as rotulações efetuadas com ele, caso ele seja recriado as rotulações serão restauradas, para novas rotulações crie um novo rótulo com novo nome.','remove_label(\'{{label}}\', \'{{label_id}}\');');">
                <i class="material-icons red-text text-darken-4">remove_circle_outline</i>
            </a>
            <a class="btn-floating btn btn-to-hide btn-flat waves-ligh tooltipped right
                                                                data-position bottom" href='./labels/{{label}}.csv'
                data-tooltip="Baixar dados rotulados" download>
                <i class="material-icons black-text text-darken-4">file_download</i>
            </a>
            <a class="btn-floating btn btn-to-hide btn-flat waves-ligh tooltipped right
                                                                data-position bottom"
                href='./label-queue/?label={{label}}' data-tooltip="Abrir fila de pacientes rotulados">
                <i class="material-icons black-text text-darken-4">send</i>
            </a>
            <h5>{{label}} ({{r['n_labeled']}} rótulos)</h5>
        </div>
        {% endfor %}
    </div>
    <div class="col card s12 tight-bottom">
        <div class="card-content row tight-bottom">
            <form action="./label-upload" method="post" enctype="multipart/form-data">
                <div class="col s12">
                    <h5>Upload de arquivo de rotulação</h5>
                </div>
                <div class="file-field input-field col l10 m8 s12">
                    <div class="btn">
                        <span><i class="material-icons">folder_open</i></span>
                        <input type="file" name="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" name="filename">
                    </div>
                </div>
                <div class="input-field col l2 m4 s12">
                    <button class="btn waves-effect waves-light btn-wide" type="submit">Carregar
                        <i class="material-icons right">file_upload</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% else %}
<h4 class="center">Não há nenhum rótulo.</h4>
{% endif %}

{% endblock %}

{% block more_scripts %}
<script>
</script>
{% endblock %}