<div id="label_{{label.id}}"
    class="input-field col s12 tight-top{% if label.name in hidden_labels %} hidden-entry{% if not show_hidden %} hidden{% endif %}{% endif %}">
    <span>{{label.name}}</span>
    {% if valid_entry %}
    {% if label.id in labels_values %}
    {% if labels_values[label.id] == 'sim' %}
    {% set p_label = 'yes' %}
    {% elif labels_values[label.id] == 'nao' %}
    {% set p_label = 'no' %}
    {% elif labels_values[label.id] == 'nao_sei' %}
    {% set p_label = 'idk' %}
    {% else %}
    {% set p_label = 'none' %}
    {% endif %}
    {% else %}
    {% set p_label = 'none' %}
    {% endif %}
    <a class="tooltipped right cursor {% if label.name in hidden_labels %} hidden{% endif %}" data-position="bottom"
        data-tooltip="Esconder o valor desta label" onclick="hide_label('{{label.name}}','{{label.id}}');"
        id="hide_{{label.id}}">
        <i class="material-icons grey-text">cancel</i>
    </a>
    <a class="tooltipped right cursor {% if label.name not in hidden_labels %} hidden{% endif %}" data-position="bottom"
        data-tooltip="Revelar valor desta label" onclick="unhide_label('{{label.name}}','{{label.id}}', '{{p_label}}');"
        id="hide_sel_{{label.id}}">
        <i class="material-icons red-text">cancel</i>
    </a>

    <a class="tooltipped right orange-text labels-text-icon cursor{%if p_label != 'idk'%} hidden{%endif%}"
        data-position="bottom" data-tooltip="Desmarcar não sei" id="idk_sel_{{label.id}}"
        onclick="add_patient_label({{entry_id}},'{{label.id}}', '');">
        <strong>?</strong>
    </a>
    <a class="tooltipped right grey-text labels-text-icon cursor{%if p_label == 'idk'%} hidden{%endif%}"
        data-position="bottom" data-tooltip="Marcar não sei" id="idk_{{label.id}}"
        onclick="add_patient_label({{entry_id}},'{{label.id}}', 'nao_sei');">
        <strong>?</strong>
    </a>
    <a class="tooltipped right cursor{%if p_label != 'no'%} hidden{%endif%}" data-position="bottom"
        data-tooltip="Desmarcar não" onclick="add_patient_label({{entry_id}},'{{label.id}}', '');"
        id="no_sel_{{label.id}}">
        <i class="material-icons red-text">clear</i>
    </a>
    <a class="tooltipped right cursor{%if p_label == 'no'%} hidden{%endif%}" data-position="bottom"
        data-tooltip="Marcar não" onclick="add_patient_label({{entry_id}},'{{label.id}}', 'nao');" id="no_{{label.id}}">
        <i class="material-icons grey-text">clear</i>
    </a>
    <a class="tooltipped right cursor{%if p_label != 'yes'%} hidden{%endif%}" data-position="bottom"
        data-tooltip="Desmarcar sim" onclick="add_patient_label({{entry_id}},'{{label.id}}', '');"
        id="yes_sel_{{label.id}}">
        <i class="material-icons green-text">check</i>
    </a>
    <a class="tooltipped right cursor{%if p_label == 'yes'%} hidden{%endif%}" data-position="bottom"
        data-tooltip="Marcar sim" onclick="add_patient_label({{entry_id}},'{{label.id}}', 'sim');"
        id="yes_{{label.id}}">
        <i class="material-icons grey-text">check</i>
    </a>
    {% endif %}
</div>