{% extends "base.html" %}
{% block title %}{{ _('Label Settings') }}{% endblock %}

{% block content %}
<div class="container" style="max-width: 95%; width: 95%;">
    <div class="row">
        <div class="col s12">
            <h4 class="center-align">{{ _('Label Settings') }} - Label Id: {{ label.id }}</h4>
        </div>
    </div>

    <div class="row">
        <div class="col s12{% if label.metrics %} m6{% endif %}">
            <ul class="collapsible">
                <li class="active">
                    <div class="collapsible-header">
                        <h5><i class="material-icons">info</i>Label: {{ label.name }}</h5>
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s12">
                                <p><strong>{{ _('Creator') }}:</strong> {{ label.creator.name }}</p>
                                <p><strong>{{ _('Username') }}:</strong> {{ label.creator.username }}</p>
                                <p><strong>{{ _('AL Key') }}:</strong> {{ label.al_key if label.al_key else _('Not Set')
                                    }}</p>
                                <p><strong>{{ _('Created At') }}:</strong> {{ label.created.strftime('%Y-%m-%d
                                    %H:%M:%S') if label.created else '' }}</p>
                                <p><strong>{{ _('Total Labeled Entries') }}:</strong> {{ label.entries|length }}</p>
                            </div>
                        </div>

                        <div class="divider"></div>
                        <div class="section">
                            <a href="javascript:void(0);"
                                onclick="show_warnning('{{ _('This permanent! Are you sure that you want to delete label {label_name}?').format(label_name=label.name) }}','window.location.href = \'{{url_for('delete_label', label_id=label.id)}}\'');"
                                class="btn-flat waves-effect red-text">
                                <i class="material-icons left">remove_circle_outline</i>
                                {{ _('Remove Label') }}
                            </a>
                            {%if has_permition('extract_labels')%}
                            <a href="{{url_for('extract_labels', label_id=label.id)}}"
                                class="btn-flat waves-effect green-text">
                                <i class="material-icons left">file_download</i>
                                {{ _('Download Labeled Data') }}
                            </a>
                            {% endif %}
                            {%if has_permition('gen_predictions')%}
                            <a href="{{url_for('gen_predictions', label_id=label.id)}}"
                                class="btn-flat waves-effect green-text">
                                <i class="material-icons left">autorenew</i>
                                {{ _('Generate Predictions') }}
                            </a>
                            {% endif %}
                            {%if has_permition('catch_queue')%}
                            <a href="{{url_for('catch_queue', label_id=label.id)}}"
                                class="btn-flat waves-effect orange-text">
                                <i class="material-icons left">send</i>{{ _('Open Queue') }}
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        {% if label.metrics %}
        <div class="col s12 m6">
            <ul class="collapsible">
                <li class="active">
                    <div class="collapsible-header">
                        <h5><i class="material-icons">assessment</i> Model Metrics</h5>
                    </div>
                    <div class="collapsible-body">
                        {% for metric_str in label.metrics %}
                        <p style="font-size: 0.9em;">{{metric_str}}</p>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>


    <div class="row">
        {% if session.role == 'admin' %}
        <!-- Advanced Parameters Section - s12 -->
        <div class="col s12">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">
                        <h5><i class="material-icons">settings</i>
                            Advanced Parameters</h5>
                    </div>
                    <div class="collapsible-body">

                        <h5>{{ _('Learner Parameters') }}</h5>
                        <form id="learner-params-form" method="POST"
                            action="{{url_for('update_learner_parameters', label_id=label.id)}}">
                            <div id="parameters-container">
                                {% if label.learner_parameters %}
                                {% for key, value in label.learner_parameters.items() %}
                                {% set is_list = value.__class__.__name__ == 'list' %}
                                {% set base_type = 'str' %}
                                {% if is_list and value|length > 0 %}
                                {% set base_type = value[0].__class__.__name__ %}
                                {% elif not is_list %}
                                {% set base_type = value.__class__.__name__ %}
                                {% endif %}
                                <div class="parameter-row row" style="margin-bottom: 10px;">
                                    <div class="input-field col s3">
                                        <input type="text" name="param_names[]" value="{{key}}">
                                        <label class="active">Parameter Name</label>
                                    </div>
                                    <div class="col s2" style="padding-top: 20px;">
                                        <label>
                                            <input type="checkbox" name="param_is_list[]" value="1" {% if is_list
                                                %}checked{% endif %}>
                                            <span>List of</span>
                                        </label>
                                    </div>
                                    <div class="input-field col s2">
                                        <select name="param_types[]">
                                            <option value="str" {% if base_type=='str' %}selected{% endif %}>String
                                            </option>
                                            <option value="int" {% if base_type=='int' %}selected{% endif %}>Integer
                                            </option>
                                            <option value="float" {% if base_type=='float' %}selected{% endif %}>Float
                                            </option>
                                            <option value="bool" {% if base_type=='bool' %}selected{% endif %}>Boolean
                                            </option>
                                        </select>
                                        <label>Base Type</label>
                                    </div>
                                    <div class="input-field col s4">
                                        {% if is_list %}
                                        <input type="text" name="param_values[]" value="{{value|join(',')}}">
                                        {% else %}
                                        <input type="text" name="param_values[]" value="{{value}}">
                                        {% endif %}
                                        <label class="active">Value</label>
                                    </div>
                                    <div class="col s1">
                                        <a href="#!" class="btn-flat red-text remove-param" style="margin-top: 15px;">
                                            <i class="material-icons">remove</i>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <a href="#!" class="btn-flat green-text" id="add-param">
                                        <i class="material-icons left">add</i>Add Parameter
                                    </a>
                                    <button type="submit" class="btn waves-effect waves-light right">
                                        <i class="material-icons left">save</i>Save Parameters
                                    </button>
                                </div>
                            </div>
                        </form>

                        <div class="divider"></div>
                        <h5>{{ _('Auto-Label Data Upload') }}</h5>
                        <p class="grey-text">
                            <strong>{{ _('Warning:') }}</strong> {{ _('This is a debug tool for model testing
                            purposes. This data will NOT be directly used for learning. For training data, upload it as
                            regular labels. Auto-labels are automatically applied during active learning to speed up
                            model debug process.') }}
                        </p>
                        <p class="grey-text">
                            {{ _('Multiple auto-label files can be uploaded on the same label.') }}
                        </p>
                        <form id="auto-label-form" method="POST" enctype="multipart/form-data"
                            action="{{url_for('upload_auto_labels', label_id=label.id)}}">
                            <div class="file-field input-field">
                                <div class="btn">
                                    <span>{{ _('Browse') }}</span>
                                    <input type="file" name="auto_label_file" accept=".csv" required>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text"
                                        placeholder="{{ _('Select CSV file with dataset_id, entry_id, value columns') }}">
                                </div>
                            </div>
                            <p class="grey-text" style="font-size: 0.9em;">
                                {{ _('Required columns: dataset_id, entry_id, value') }}
                            </p>
                            <button type="submit" class="btn waves-effect waves-light">
                                <i class="material-icons left">file_upload</i>{{ _('Upload Auto-Labels') }}
                            </button>
                        </form>
                        {% if label.auto_labels %}
                        <p class="green-text" style="margin-top: 10px;">
                            <i class="material-icons tiny">check_circle</i>
                            {{ label.auto_labels|length }} {{ _('auto-labels loaded') }}
                        </p>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
        {% endif %}

        <!-- Debug Information Card -->
        {% if debug %}
        <div class="col s12">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">
                        <h5><i class="material-icons">bug_report</i>
                            Debug Information</h5>
                    </div>
                    <div class="collapsible-body">
                        <div
                            style="max-height: 400px; overflow-y: auto; font-family: monospace; font-size: 12px; line-height: 1.4;">
                            <p><strong>id:</strong> {{ label.id }}</p>
                            <p><strong>name:</strong> {{ label.name }}</p>
                            <p><strong>al_key:</strong> {{ label.al_key if label.al_key else 'None' }}</p>
                            <p><strong>created:</strong> {{ label.created.isoformat() if label.created else 'None' }}
                            </p>
                            <p><strong>training_counter:</strong> {{ label.training_counter if label.training_counter is
                                not none else 'None' }}</p>
                            <p><strong>project_id:</strong> {{ label.project_id }}</p>
                            <p><strong>creator_id:</strong> {{ label.creator_id if label.creator_id is not none else
                                'None' }}</p>
                            <p><strong>learner_parameters:</strong> {{ label.learner_parameters if
                                label.learner_parameters else 'None' }}</p>
                            <p><strong>auto_labels:</strong> {{ label.auto_labels if label.auto_labels else 'None' }}
                            </p>
                            <p><strong>metrics:</strong> {{ label.metrics if label.metrics else '[]' }}</p>
                            <p><strong>cache:</strong> {{ label.cache if label.cache else '[]' }}</p>
                            <p><strong>entries_count:</strong> {{ label.entries|length }}</p>
                            {% if label.creator %}
                            <p><strong>creator.name:</strong> {{ label.creator.name }}</p>
                            <p><strong>creator.username:</strong> {{ label.creator.username }}</p>
                            {% endif %}
                            {% if label.project %}
                            <p><strong>project.name:</strong> {{ label.project.name if label.project.name else 'None' }}
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>

    {% if export_tasks %}
    <div class="card hoverable">
        <div class="card-content">
            <span class="card-title">Exported predictions</span>
            <table>
                <thead>
                    <tr>
                        <th>Created</th>
                        <th>Status</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in export_tasks %}
                    <tr>
                        <td>{{task.created}}</td>
                        <td>{{task.status}}</td>
                        <td>
                            {% if task.status == "SUCCESS" %}
                            <a class="btn waves-effect waves-light tooltipped"
                                href="{{url_for('get_predictions', label_id=label.id, task_id=task.id)}}"
                                data-tooltip="{{_('Download')}}">
                                <i class="material-icons">file_download</i>
                            </a>
                            {% endif %}
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    <div class="row center-align">
        <a class="btn waves-effect waves-light" href="../..">{{ _('Back') }}</a>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Initialize collapsible elements
        var collapsibleElems = document.querySelectorAll('.collapsible');
        M.Collapsible.init(collapsibleElems);

        // Initialize select elements
        var selectElems = document.querySelectorAll('select');
        M.FormSelect.init(selectElems);

        // Add parameter functionality
        const addButton = document.getElementById('add-param');
        if (addButton) {
            addButton.addEventListener('click', function () {
                const container = document.getElementById('parameters-container');
                const newRow = document.createElement('div');
                newRow.className = 'parameter-row row';
                newRow.style.marginBottom = '10px';
                newRow.innerHTML = `
                <div class="input-field col s3">
                    <input type="text" name="param_names[]">
                    <label>Parameter Name</label>
                </div>
                <div class="col s2" style="padding-top: 20px;">
                    <label>
                        <input type="checkbox" name="param_is_list[]" value="1">
                        <span>List of</span>
                    </label>
                </div>
                <div class="input-field col s2">
                    <select name="param_types[]">
                        <option value="str">String</option>
                        <option value="int">Integer</option>
                        <option value="float">Float</option>
                        <option value="bool">Boolean</option>
                    </select>
                    <label>Base Type</label>
                </div>
                <div class="input-field col s4">
                    <input type="text" name="param_values[]">
                    <label>Value</label>
                </div>
                <div class="col s1">
                    <a href="#!" class="btn-flat red-text remove-param" style="margin-top: 15px;">
                        <i class="material-icons">remove</i>
                    </a>
                </div>
            `;
                container.appendChild(newRow);

                // Reinitialize select for new row
                M.FormSelect.init(document.querySelectorAll('select'));
            });
        }

        // Remove parameter functionality
        document.addEventListener('click', function (e) {
            if (e.target.closest('.remove-param')) {
                e.preventDefault();
                e.target.closest('.parameter-row').remove();
            }
        });
    });
</script>
{% endblock %}