{% extends "base.html" %}
{% block title %}Filas{% endblock %}

{% block content %}
<div class="row">
    {%if queue%}
    <div class="col card s12">
        <div class="card-content">
            <a class="btn btn-wide" href="/queue/{{queue_hash}}"><i class="material-icons right">send</i>Ir para a
                fila</a>
        </div>
        <div class="card-content" style="line-height: 50px;">
            <span class="card-title">Entradas</span>
            {%for entry_id in queue%}
            <a class="btn" href="/entry/{{entry_id}}" target="_blank">{{entry_id}}</a>
            {%endfor%}
        </div>
    </div>
    {%else%}
    <div class="col card s12">
        <div class="card-content">
            <div class="row">
                <span class="card-title col s12">
                    Gerar Aleatóriamente
                </span>
                <form method="post">
                    <div class="input-field col s12">
                        <input id="number" name="number" type="text" class="validate" value="{{number}}">
                        <label for="number">Número de entradas</label>
                    </div>
                    <input type="hidden" name="type" value="random">
                    <div class="col s12">
                        <button class="btn btn-wide waves-effect waves-light" type="submit" name="action">Gerar fila
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col card s12">
        <div class="card-content">
            <div class="row">
                <span class="card-title col s12">
                    Gerar por IDs
                </span>
                <form method="post">
                    <div class="input-field col s12">
                        <textarea id="textarea1" name="text" class="materialize-textarea tooltipped"
                            data-tooltip="Separados por virgula, espaços, ponto e virgula ou quebra de linha"></textarea>
                        <label for="textarea1">IDs para fila</label>
                    </div>
                    <input type="hidden" name="type" value="list">
                    <div class="col s12">
                        <button class="btn btn-wide waves-effect waves-light" type="submit" name="action">Gerar fila
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {%if queues%}
    <div class="col s12 card" style="padding:0px;">
        <div class="card-content" style="display:block;">
            <span class="card-title">Filas geradas</span>
        </div>
        {% for queue in queues%}
        <div class="card-content blue-grey white-text patient-header" style="display:block;">
            <a href="/queue/{{queue['id']}}" class="btn btn-float right" target="_blank">Abrir Fila</a>
            <p><b>{{queue['id']}}</b></p>
            <p><span class="small-title">Entradas: {{queue['lenght']}}
                    {% if queue['highlight'] %} - Destaque: {% for h in queue['highlight'] %}{{h}}{%if not loop.last
                    %},
                    {%endif%}{%endfor%}{%endif%}</span></p>
            {% if queue['exta_data'] %}
            <p>
                <span class="small-title">
                    {% for k in queue['exta_data'].keys() %}
                    {%if queue['exta_data'][k] is sequence %}
                    {{k}}: {% for v in queue['exta_data'][k] %}{{v}}{%if not loop.last %} ,{%endif%}{%endfor%}
                    {%else%}
                    {{k}}: {{queue['exta_data'][k]}}
                    {%endif%}
                    {%if not loop.last %} - {%endif%}
                    {%endfor%}
                </span>
            </p>
            {%endif%}
        </div>
        {%endfor%}
    </div>
    {%endif%}
    {%endif%}
</div>
{% endblock %}

{% block more_scripts %}
<script>
</script>
{% endblock %}