{% extends "base.html" %}
{% block title %}Pesquisa de paciente{% endblock %}

{% block content %}
<div class="row">
    <form action="/search" method="GET" id="form">
        <div class="input-field col s12">
            <p class='tight-bottom' style="font-size: 24px;margin-top:0px;">
                <i class="material-icons green-text">check</i> Inclusão de termos
            </p>
            <div class="input-field tight-bottom" id="include">
                <input style="width: 100% !important;">
            </div>
        </div>
        <div class="input-field col s12">
            <p class='tight-bottom' style="font-size: 24px;margin-top:0px;">
                <i class="material-icons red-text">close</i> Exclusao de termos
            </p>
            <div class="input-field" id="exclude">
                <input style="width: 100% !important;">
            </div>

        </div>
        <div class="input-field col s12">
            <input type="text" id="number" name="number" class="tooltipped" data-position="bottom"
                data-tooltip="Número de pacientes" value="{{ number }}">
            <label for="number">Número de pacientes <i class="material-icons left">inbox</i></label>
        </div>
        <div class="input-field col s12 center">
            <input type="hidden" name="include" id="include_field">
            <input type="hidden" name="exclude" id="exclude_field">
            <button class="btn waves-effect waves-light btn-wide">Pesquisar
                <i class="material-icons right">search</i>
            </button>
        </div>
    </form>
</div>


{% if results %}
<div class="row">
    {% for patient in results %}
    {% set pacient_id = patient['_id']%}
    <div class="col s12">
        <div class="card day">
            <div class="card-content blue-grey white-text patient-header" style="display:block;">
                Paciente ID: {{ pacient_id }}
                <span class="small-title">Score de busca: {{patient['_score']}}</span>
                <a href="./?id={{ pacient_id }}&highlight={{highlight|safe}}" class="btn btn-float right"
                    target="_blank">Abrir ficha</a>
            </div>
            <div class="patient-body">
                {% for result in patient['_source']['texts'] %}
                {% if not loop.first %}<div class="divider"></div>{% endif %}
                <div class="card-content left-align" id="short_{{result['text_id']}}"
                    onclick="toggle_pannel('{{result['text_id']}}')">
                    <span class="grey-text text-darken-2">{{ result['data']}}:</span> {{ result['text']|safe }}
                </div>
                <div class="card-content left-align tight-top tight-bottom hidden" id="full_{{result['text_id']}}"
                    onclick="toggle_pannel('{{result['text_id']}}')">
                    {% for key, value in result.items() %}
                    <p><strong>{{key}}:</strong> {{value|safe}}</p>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<h4 class="center">Sem resultados para a pesquisa.</h4>
{% endif %}

{% endblock %}
{% block scripts %}
<script>
    function update_search(id) {
        var data = $('#' + id + ' .chip').map(function () {
            var text = $(this).text()
            return text.substring(0, text.length - 5);
        }).get();
        $('#' + id + '_field').val(JSON.stringify(data));
    }

    function init_field(id, data) {
        let elems = document.querySelector('#' + id);
        let options = {
            onChipAdd: () => update_search(id),
            onChipDelete: () => update_search(id),
            placeholder: 'Adicionar termos (digite e precione ENTER)',
            secondaryPlaceholder: 'Adicionar mais termos (digite e precione ENTER)',
            data: data,
        }
        let instances = M.Chips.init(elems, options);
        $('#' + id + ' input').on('focusout', function () { set_chip(id); });
    }

    function set_chip(id) {
        M.Chips.getInstance($('#' + id)).addChip({ tag: $('#' + id + ' input').val() });
        $('#' + id + ' input').val("");
    }

    $(document).ready(function () {
        $('#form').on('submit', function () {
            update_search("include");
            update_search("exclude");
            return true
        });
        init_field('include', JSON.parse('{{include | safe}}'));
        init_field('exclude', JSON.parse('{{exclude | safe}}'));
        $(".patient-body").highlight({{ highlight| safe}});
    });
</script>
{% endblock %}