<ul class="collection">
    {% for task in tasks %}
    {% if task.status == "STARTED" %}
    <li class="collection-item blue-text darker-4">
        <i class="material-icons right">play_circle_filled</i>{{ task.name }} </br>
        <strong>{{ _('Running') }}</strong>
    </li>
    {% elif task.status == "SUCCESS" %}
    <li class="collection-item green-text">
        <i class="material-icons right">check_circle</i> {{ task.name }}</br>
        <strong>{{ _('Completed') }}</strong>
    </li>
    {% elif task.status == "FAILURE" %}
    <li class="collection-item{{' tooltipped' if task.error else ''}} red-text" {% if task.error %}
        data-tooltip="{{''.join(task.error)}}" {% endif %}>
        <i class="material-icons right">error</i> {{ task.name }} </br>
        <strong>{{ _('Failed') }}</strong>
    </li>
    {% elif task.status == "REVOKED" %}
    <li class="collection-item{{' tooltipped' if task.error else ''}} grey-text" {% if task.error %}
        data-tooltip="{{''.join(task.error)}}" {% endif %}>
        <i class="material-icons right">remove_circle</i> {{ task.name }} </br>
        <strong>{{ _('Canceled') }}</strong>
    </li>
    {% elif task.status == "PENDING" or task.status == "RETRY" %}
    <li class="collection-item grey-text">
        <i class="material-icons right">play_circle_outline</i> {{ task.name }} </br>
        <strong>{{ _('Pending') }}</strong>
    </li>
    {% endif %}
    {% endfor %}
    {% if not (tasks) %}
    <li class="collection-item grey-text darker-4">
        {{ _('No tasks.') }}
    </li>
    {% endif %}
</ul>