<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{% block title %}{% endblock %} - Projeto OPAS</title>
  </head>

  <body>
    <nav >
        <div class="nav-wrapper">
          <a href="#" class="brand-logo left">Projeto OPAS</a>
          <ul id="nav-mobile" class="right">
            <li><a href="./">Home</a></li>
          </ul>
        </div>
      </nav>
    <div class="container" style="margin-top: 20px;">
    {% block content %}{% endblock %}
    </div>
    <div class="divider"></div>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{{url_for('static', filename='js/materialize.min.js')}}"></script>
  </body>
</html>