{% extends "base.html" %}
{% block title %}Search Data{% endblock %}

{% block content %}
<div class="row">
    <form action="/search" method="GET">
        <div class="col s6">
            <h5 class="center">Termos</h5>
            <div class="input-field col s12">
                <input type="text" id="must_terms" name="must_terms" class="validate tooltipped" data-position="bottom" data-tooltip="Exemplo: vacina, medicamento, dorflex" {% if must_terms %}
                    value="{{ must_terms }}"
                {% endif %}>
                <label for="must_terms">Inclusão de termos <i class="material-icons left green-text">check</i></label>
            </div>
            <div class="input-field col s12">
                <input type="text" id="not_must_terms" name="not_must_terms" class="validate tooltipped" data-position="bottom" data-tooltip="Exemplo: vacina, medicamento, dorflex" {% if not_must_terms %}
                value="{{ not_must_terms }}"
                {% endif %}>
                <label for="not_must_terms">Exclusão de termos <i class="material-icons left red-text">close</i></label>
            </div>
        </div>
        <div class="col s6">
            <h5 class="center">Frases</h5>
            <div class="input-field col s12">
                <input type="text" id="must_phrases" name="must_phrases" class="validate tooltipped" data-position="bottom" data-tooltip="Exemplo: vacina para dor no ombro; vacina para vida" {% if must_terms %}
                    value="{{ must_phrases }}"
                {% endif %}>
                <label for="must_phrases">Inclusão de frases <i class="material-icons left green-text">check</i></label>
            </div>
            <div class="input-field col s12">
                <input type="text" id="not_must_phrases" name="not_must_phrases" class="validate tooltipped" data-position="bottom" data-tooltip="Exemplo: vacina para dor no ombro; vacina para vida" {% if must_terms %}
                    value="{{ not_must_phrases }}"
                {% endif %}>
                <label for="not_must_phrases">Exclusão de frases <i class="material-icons left red-text">close</i></label>
            </div>
        </div>
        <div class="input-field col s12 center">
            <button class="btn waves-effect waves-light btn-wide">Pesquisar
                <i class="material-icons right">search</i>
            </button>
        </div>
    </form>
</div>


{% if results %}
    <h4 class="center">{{ len_f(results) }} Resultados Encontrados</h4>
    <div class="row">
        {% for pacient_id, results_list in results.items() %}
            <div class="col center s12">
                <ul class="collapsible">
                    <li{% if loop.first %} class="active"{% endif %}>
                        <div class="blue-grey white-text collapsible-header patient-header" style="display:block;">
                            Paciente ID: {{ pacient_id }}
                            <a href="patient?id={{ pacient_id }}" class="btn btn-float right" target="_blank">Abrir ficha</a>
                        </div>
                        <div class="patient-body collapsible-body">
                            <ul class="collapsible">
                                {% for result in results_list %}
                                <li>
                                    <div class="collapsible-header left-align">
                                        {{ result["_source"][default_es_column]|safe }}
                                    </div>
                                    <div class="collapsible-body left-align tight-top tight-bottom">
                                        {% for key, value in result["_source"].items() %}
                                            <p><strong>{{key}}:</strong> {{value|safe}}</p>
                                        {% endfor %}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        {% endfor %}
    </div>
{% else %}
    <h4 class="center">Sem resultados para a pesquisa.</h4>
{% endif %}

{% endblock %}