{% extends "base.html" %}
{% block title %}Pesquisa de paciente{% endblock %}

{% block content %}
<div class="row">
    <form action="/search" method="GET">
        <div class="col s12 m6">
            <h5 class="center">Termos</h5>
            <div class="input-field col s12">
                <input type="text" id="must_terms" name="must_terms" class="validate tooltipped" data-position="bottom"
                    data-tooltip="Exemplo: vacina, medicamento, dorflex" {% if must_terms %} value="{{ must_terms }}" {%
                    endif %}>
                <label for="must_terms">Inclusão de termos <i class="material-icons left green-text">check</i></label>
            </div>
            <div class="input-field col s12">
                <input type="text" id="not_must_terms" name="not_must_terms" class="validate tooltipped"
                    data-position="bottom" data-tooltip="Exemplo: vacina, medicamento, dorflex" {% if not_must_terms %}
                    value="{{ not_must_terms }}" {% endif %}>
                <label for="not_must_terms">Exclusão de termos <i class="material-icons left red-text">close</i></label>
            </div>
        </div>
        <div class="col s12 m6">
            <h5 class="center">Frases</h5>
            <div class="input-field col s12">
                <input type="text" id="must_phrases" name="must_phrases" class="validate tooltipped"
                    data-position="bottom" data-tooltip="Exemplo: vacina para dor no ombro; vacina para vida" {% if
                    must_terms %} value="{{ must_phrases }}" {% endif %}>
                <label for="must_phrases">Inclusão de frases <i class="material-icons left green-text">check</i></label>
            </div>
            <div class="input-field col s12">
                <input type="text" id="not_must_phrases" name="not_must_phrases" class="validate tooltipped"
                    data-position="bottom" data-tooltip="Exemplo: vacina para dor no ombro; vacina para vida" {% if
                    must_terms %} value="{{ not_must_phrases }}" {% endif %}>
                <label for="not_must_phrases">Exclusão de frases <i
                        class="material-icons left red-text">close</i></label>
            </div>
        </div>
        <div class="input-field col s12 m6">
            <div class="input-field col s12">
                <input type="text" id="number" name="number" class="tooltipped" data-position="bottom"
                    data-tooltip="Número de pacientes" value="{{ number }}">
                <label for="number">Número de pacientes <i class="material-icons left">inbox</i></label>
            </div>
        </div>
        <div class="input-field col s12 center">
            <button class="btn waves-effect waves-light btn-wide">Pesquisar
                <i class="material-icons right">search</i>
            </button>
        </div>
    </form>
</div>


{% if results %}
<div class="row">
    {% for patient in results %}
    {% set pacient_id = patient['_id']%}
    <div class="col s12">
        <div class="card day">
            <div class="card-content blue-grey white-text patient-header" style="display:block;">
                Paciente ID: {{ pacient_id }}
                <span class="small-title">Score de busca: {{patient['_score']}}</span>
                <a href="patient?id={{ pacient_id }}&highlight={{highlight|safe}}" class="btn btn-float right"
                    target="_blank">Abrir ficha</a>
            </div>
            <div class="patient-body">
                {% for result in patient['_source']['texts'] %}
                {% if not loop.first %}<div class="divider"></div>{% endif %}
                <div class="card-content left-align" id="short_{{result['text_id']}}"
                    onclick="toggle_pannel('{{result['text_id']}}')">
                    <span class="grey-text text-darken-2">{{ result['data']}}:</span> {{ result['text']|safe }}
                </div>
                <div class="card-content left-align tight-top tight-bottom hidden" id="full_{{result['text_id']}}"
                    onclick="toggle_pannel('{{result['text_id']}}')">
                    {% for key, value in result.items() %}
                    <p><strong>{{key}}:</strong> {{value|safe}}</p>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<h4 class="center">Sem resultados para a pesquisa.</h4>
{% endif %}

{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $(".patient-body").highlight({{ highlight| safe}})
    });
</script>
{% endblock %}