<!-- Footer -->
<footer class="bg-sky-600 mt-auto">
    <div class="mx-auto py-3 px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-center">
            <a href="https://gitlab.com/nanogennari/olim"
                class="text-cyan-100 hover:text-white text-sm transition-colors">
                {{ _('OLIM - Open Labeller for Iterative Machine learning') }} - v{{ version }}
            </a>
            {% if has_help %}
            <a href="{{ url_for('get_help') }}" class="ml-4 text-cyan-100 hover:text-white transition-colors"
                title="{{ _('Report a problem with this page') }}">
                <i class="bi bi-question-circle text-lg"></i>
            </a>
            {% endif %}
        </div>
    </div>
</footer>